<% provide(:title, 'ユーザ登録') %>
<h1>ユーザ登録</h1>

<div class="row">
  <div class="six columns">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: "u-full-width" %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "u-full-width" %>

      <%= f.label :prefecture %>
      <%= f.collection_select :prefecture_id, @pref, :id, :name, { include_blank: true }, class: "u-full-width" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "u-full-width" %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "u-full-width" %>

      <%= f.submit  class: "button-primary u-full-width" %>
    <% end %>
  </div>
</div>

<% if Rails.env.development? %>
  <pre><code><%= debug(@user) %></code></pre>
<% end %>

