<% provide(:title, 'ユーザ情報') %>
<h5><%= yield(:title) %></h5>

<table>
<tr><th>名前</th><td><%= @user.name %></td></tr>
<tr><th>メールアドレス</th><td><%= @user.email %></td></tr>
<tr><th>都道府県</th><td><%= @user.prefecture.name %></td></tr>
<tr><th>作成日時</th><td><%= @user.created_at %></td></tr>
<tr><th>更新日時</th><td><%= @user.updated_at %></td></tr>
</table>

<%= link_to "変更", edit_user_path(current_user), class: "button" %>
<%= link_to "削除", current_user, method: :delete,
  data: { confirm: "ユーザを削除してよろしいですか？" }, class: "button" %>

<% if Rails.env.development? %>
  <pre><code><%= debug(@user) %></code></pre>
<% end %>
<% if Rails.env.development? %>
  <pre><code><%= debug(@user.prefecture) %></code></pre>
<% end %>
